@model IEnumerable<Kindergarten_school.Models.DailyreportsModel>

<h2 class="text-3xl font-extrabold text-center text-orange-600 mb-6">Tiến độ học tập</h2>

<a class="btn btn-secondary mb-2 bg-gradient-to-r from-orange-300 via-orange-500 to-orange-700 text-white px-4 py-2 rounded-full hover:bg-orange-600 transition duration-300"
   href="/profile/list-student">
    Trở về
</a>

<table class="table min-w-full bg-white shadow-xl rounded-xl overflow-hidden">
    <thead class="bg-gradient-to-r from-orange-400 via-orange-500 to-orange-600 text-white">
        <tr>
            <th class="py-3 px-4 text-left">Ngày</th>
            <th class="py-3 px-4 text-left">Hoạt động</th>
            <th class="py-3 px-4 text-left">Ăn uống</th>
            <th class="py-3 px-4 text-left">Hiện tại</th>
            <th class="py-3 px-4 text-left">Mô tả</th>
        </tr>
    </thead>
    <tbody id="tableReports">
        @foreach (var attendance in Model)
        {
            <tr class="border-b hover:bg-orange-50 transition">
                <td class="px-4 py-3">@attendance.ReportDate.ToString("HH:mm dd/MM/yyyy")</td>
                <td class="px-4 py-3">@attendance.Activities</td>
                <td class="px-4 py-3">@attendance.Meal</td>
                <td class="px-4 py-3">@attendance.NapTime</td>
                <td class="px-4 py-3">@attendance.Description</td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {
    <script>
        const connectionReports = new signalR.HubConnectionBuilder()
            .withUrl("/reports-hub")
            .build();

        connectionReports.start().catch(err => console.error(err));

        connectionReports.on("ReceiveMessageUser", (reportDate, activities, meal, napTime, description) => {
            const tableBody = document.getElementById("tableReports");
            const formattedDate = new Date(reportDate).toLocaleString("vi-VN", { hour: '2-digit', minute: '2-digit', day: '2-digit', month: '2-digit', year: 'numeric' });

            const newRow = `
                    <tr class="border-b hover:bg-orange-50 transition">
                        <td class="px-4 py-3">${formattedDate}</td>
                        <td class="px-4 py-3">${activities}</td>
                        <td class="px-4 py-3">${meal}</td>
                        <td class="px-4 py-3">${napTime}</td>
                        <td class="px-4 py-3">${description}</td>
                    </tr>
                `;

            tableBody.insertAdjacentHTML("afterbegin", newRow);
        });
    </script>
}
